* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
}

header {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(180deg, #568dfc, #ccd6f9); */
    background: linear-gradient(180deg, rgba(86, 141, 252, 1) 0%, rgba(204, 214, 249, 1) 90%, rgba(204, 214, 249, 0) 100%);
    overflow: hidden;
}

.hed {
    background: #ccd6f9;
}

.cloud {
    position: absolute;
    width: 100%;
    animation: cloud 50s linear;
    transform: translateY(-200px);
}

@keyframes cloud {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
        transform: translateY(-200px);
    }
}

.sun {
    top: 45%;
    left: 47%;
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgb(255, 247, 226);
    animation: sun 90s linear infinite;
    box-shadow: 0px 0px 50px 14px rgba(255, 255, 255, 0.73);
}

.logo {
    position: absolute;
    top: 35%;
    left: 23%;
    width: 55%;
    transform: translate(0, 55%);
    opacity: 0;
    transition: 2s linear;
}

.logo.activ {
    transform: translate(0, 0);
    opacity: 1;
}

nav {
    position: fixed;
    top: 30%;
    z-index: 2;
}

.desc {
    user-select: none;
    position: relative;
    z-index: 2;
    width: max-content;
    top: 80%;
    left: calc(50% - 408px / 2);
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}

.down,
.adv_time_next {
    position: relative;
    z-index: 5;
    top: 80%;
    left: calc(50% - 59px / 2);
}

.down>i,
.adv_time_next>i {
    height: 10px;
    color: white;
    transition: color .5s;
    animation: next 1s ease-in-out infinite;
}

.down>i:hover,
.adv_time_next>i:hover {
    color: rgb(0, 145, 24);
}

.about {
    height: 100vh;
    width: 100%;
    background: url(../img/one_block.jpg) no-repeat center center;
    background-size: cover;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
}

li>a {
    width: max-content;
    padding: 13px 10px;
    text-decoration: none;
    background: #a2bf40;
    border-radius: 50%;
}

.description {
    position: relative;
    z-index: -1;
    left: -10%;
    padding: 13px 10px 13px 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: #a2bf40;
    transform: translate(50px, 0);
    transition: .3s ease;
    opacity: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

li>a:hover~.description {
    opacity: 1;
}

.ico {
    margin-bottom: -8px;
    width: 25px;
}

.information {
    position: relative;
    top: 25%;
    text-align: center;
    margin: 0 auto;
    width: 850px;
    color: #fff;
    padding: 50px;
    background: rgba(0, 0, 0, 0.638);
    border-radius: 5px;
    transform: translate(0, 15%);
    opacity: 0;
    transition: 0.8s linear;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.information.activ {
    transform: translate(0, 0);
    opacity: 1;
}

.title_info {
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 10px;
}

.adv_time {
    user-select: none;
    position: relative;
    z-index: 2;
    width: max-content;
    top: 30%;
    left: calc(50% - 408px / 2);
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}

.adv_time_next {
    top: 32%;
}

@keyframes next {
    50% {
        transform: translate(0, 30px);
    }
}

@keyframes sun {
    100% {
        background: #fff;
        transform: translateY(-450px);
    }
}

.gide_surv {
    height: max-content;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 85%, rgba(0, 112, 176, 1) 100%);
}

.title_surv {
    font-size: 24px;
    padding-top: 25px;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}

.surv_grid {
    padding: 25px;
    margin: 0 auto;
    width: 1000px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 25px;
}

.wood,
.mine,
.nether,
.end,
.end_city {
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0;
    /* background: rgba(0, 0, 0, 0.446); */
    transition: .8s linear;
}

.wood,
.nether,
.end_city {
    transform: translateX(200px);
}

.mine,
.end {
    transform: translateX(-200px);
}

.wood.activ,
.mine.activ,
.nether.activ,
.end.activ,
.end_city.activ {
    transform: translate(0, 0);
    opacity: 1;
}

.surv_img {
    padding: 25px;
    height: 400px;
    margin: 0 auto;
}

.dragon {
    height: auto;
    padding-top: 25%;
}

.wood_img {
    padding: 0;
}

.surv_info {
    padding: 25px;
}

.number {
    user-select: none;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    padding: 18px 9px 1px;
    text-align: center;
    height: 35px;
    width: 35px;
    background: #50ae24;
    transition: .3s ease;
    margin-bottom: 20px;
    box-shadow: inset -5px -5px 0px -1px #30A521;
}

.title_info {
    user-select: none;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}

.text_info {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.buy {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url('../img/home-hero.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.buy_title {
    font-size: 36px;
    padding-top: 10%;
    user-select: none;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}

.buy_info {
    margin: 25px 0 50px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    font-size: 24px;
}

.buy_div {
    cursor: pointer;
    margin: 0 auto;
    width: max-content;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    background: #50ae24;
    box-shadow: inset -5px -5px 0px -1px #30A521;
    transition: .1s linear;
}

.buy_div:hover {
    background: #2e2e2e;
    box-shadow: inset -5px -5px 0px -1px #212121;
}

.menu_buy {
    padding: 30px 2%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2%;
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100vh;
    opacity: 0;
    transform: translateY(100vh);
    transition: .5s linear;
}

.buy>input:checked~.menu_buy {
    opacity: 1;
    transform: translateY(0);
}

.pc,
.mobile,
.console,
.vr {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    color: black;
    margin: 0 auto;
    height: 30vh;
    width: 100%;
    background: rgb(225, 225, 225);
    user-select: none;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    transition: .2s linear;
    border-radius: 25px;
}

.icon,
.plat_title {
    margin: 0 auto;
    padding-top: 10px;
}

.pc:hover,
.mobile:hover,
.console:hover,
.vr:hover {
    filter: drop-shadow(0px 0px 20px #50ae24);
    transform: translateY(-10px);
}

.realms {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.realms h3 {
    margin-top: 8%;
    user-select: none;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}

.realms p {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    font-size: 20px;
}

footer {
    width: 100%;
    height: 50px;
    background: url("../img/moajng.webp") no-repeat center center #000;
    background-size: 10%;
}
